.task {
    width: 600px;
    height: 60px;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    position: relative;

    border-bottom: 1px solid var(--grey-dark);
}

.editing.task {
    border-bottom: none;
}
.checkbox {
    width: 40px;
    height: 100%;

    flex-shrink: 0;

    margin-right: 8px;

    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
}

.done .checkbox {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E');
}

.editing .checkbox {
    visibility: hidden;
}

.done .input {
    text-decoration: line-through;
    color: var(--grey-dark);
}

.input {
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    flex-shrink: 1;

    border: none;
    outline: none;

    font-size: 24px;

    transition: color 0.5s;
}

.icons {
    display: flex;
    position: absolute;
    right: 20px;
    visibility: hidden;
}

.icons > svg:not(:last-child) {
    margin-right: 8px;
}

.task:hover .icons {
    visibility: visible;
}

.editing .input {
    box-shadow: 0 0 2px 2px #cf7d7d;
}
